*{
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  
  --background-gradient-theme:linear-gradient(47deg, rgb(10 0 29) 0%, rgb(42 0 0) 82%);
  --background-color-theme: #00000038;
  --border-color-theme:#ffffff29;
  --box-shadow-theme: 0px 6px 18px 0px #0000003a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: .4rem;
  border: 1px solid var(--border-color-theme);
  background: var(--background-color-theme);
  box-shadow: var(--box-shadow-theme);
}

ul{
  list-style: none;
  display: flex;
  gap: .5rem;
  padding: 0;
}
body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  background: transparent;
  padding-inline:.2rem ;
}
.Container{
    width: 100%;
    height: 100%;
    padding-inline: .2rem;
    overflow-y: auto;
    display: flex;
    place-items: center;
}
html{
  background: rgb(14, 14, 14);
  background: var(--background-gradient-theme);
}
h1 {
  font-size: 3.2em;
  line-height: 1;
}
p{
  color: #cacaca;
}

input,textarea{
all: unset;
height: 40px;
padding: .4rem;
color: white;
border:1px solid var(--border-color-theme);
background: var(--background-color-theme);
border-radius: .4rem;
}
textarea{
  display: flex;
  flex-direction: column;
  min-height: 100px;  
  word-wrap: break-word;
}
input.error,textarea.error{
  color: red;
  border:1px solid #f000008a;

}
label{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
span{
  color: white; 
  display: block;
  padding: 1rem; 
  background: #3d3d3d;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
div > span:first-of-type{
  margin-bottom: 2rem;
}
button {
  all: unset;
  border: 1px solid transparent;
  border-radius: .5rem;
  height: 40px;
  padding-inline: 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:disabled{
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 1660px) {
.Container{
  display: block;
}
body{
  background: var(--background-color-theme);
}
#root{
  box-shadow: none !important;
  border: none;
  background: none;
}
}

@media (prefers-color-scheme: light) {
:root{
color: black;
--background-color-theme: #ffffff36;
--border-color-theme:#ffffff1c;
--box-shadow-theme: 0px 6px 18px 0px #4600000f;
--background-gradient-theme:linear-gradient(47deg, rgb(79 55 102) 0%, rgb(236 184 166) 82%);	
}

p{
  color: #1f1f1f;
}
  
input::placeholder,textarea::placeholder{
  color: rgba(19, 19, 19, 0.493);
}

input,textarea{
color: black;

}
}
